$icomoon-font-family: "maridecor" !default;
$icomoon-font-path: "../fonts/maridecor/fonts" !default;

$icon_insta: "\e900";
$icon_arrow-left: "\e901";
$icon_arrow-right: "\e902";
$icon_check: "\e903";
$icon_clock: "\e904";
$icon_marker: "\e905";
$icon_phone: "\e906";