// Style for button and pseudo button for input and link

.btn {
	color: $color_white;
	font-family: $main_font_family;
	font-size: 16px;
	font-weight: 700;
	padding: 15px 35px;
	letter-spacing: 0.32px;
	text-transform: uppercase;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $btn_default_bg_color;
	text-align: center;
	max-width: 100%;
	cursor: pointer;
	border-radius: 0;
	transition: all 0.3s;
	position: relative;
	z-index: 10;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: width 0.5s;
		background-image: linear-gradient(90deg, $color_seccondary 0%, #e8b7be 100%);
	}

	&:hover {
		background-color: #fff;
		color: $color_white;
		text-decoration: none;

		&:before {
			width: 150%;
		}
	}

	&:active {
		background-color: transparentize(#fff, .2);
		color: $color_white;
	}

	&_icon {
		font-size: 13px;
		padding: 0;
		font-weight: bold;

		// i {
		// 	margin-right: 10px;
		// 	font-size: 20px;
		// }
		@media (min-width: 992px) {
			padding: 7px 20px;

		}
	}

	@media (max-width: 480px) {
		width: 100%;
	}

}
