/* Footer
 ----------------------------------------------------------------------------- */
.footer {
	padding: 25px 0 15px;
	@media (min-width: 481px) {
		padding: 30px 0 20px;
	}

	&__inner {
		max-width: $container_width;
		padding-left: 15px;
		padding-right: 15px;
		margin: auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: column;
		@media (min-width: 992px) {
			flex-direction: row;

		}
	}

	&__logo {
		@media (min-width: 992px) {
			margin-right: 10px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-weight: 500;
		font-size: 16px;
		color: $main_color;

		@media (min-width: 992px) {
			display: flex;
			justify-content: space-between;
			flex-direction: row;
			align-items: center;
			flex-grow: 1;
			font-size: 13px;
		}

		> * {
			display: flex;
			align-items: center;
			// margin-right: 10px;
			margin-bottom: 10px;
			@media (min-width: 992px) {
				margin-bottom: 0;
			}
		}

		i {
			color: #b4b5e8;
			font-size: 21px;
			margin-right: 10px;
		}
	}

	&__address {
		text-align: center;

		span {
			line-height: 23.95px;
		}

		i {
			display: none;
			@media (min-width: 481px) {
				display: inline-flex;
			}
		}
	}

	&__time {
		color: #5d5d5d;
		@media (min-width: 481px) {
			color: $main_color;
		}
	}

	&__phone {
		order: -1;
		margin-bottom: 17px;
		@media (min-width: 481px) {
			margin-bottom: 10px;
		}
		@media (min-width: 992px) {
			order: 0;
			margin-bottom: 0;
		}

		i {
			display: none;
			@media (min-width: 481px) {
				display: inline-flex;
			}
		}

		a {
			text-decoration: none;
			font-weight: 500;
			font-size: 34px;
			color: $main_color;
			// align-items: center;
			@media (min-width: 481px) {
				font-size: 16px;
			}
			@media (min-width: 992px) {
				font-size: 18px;
			}
		}
	}

}

.foterLogo {
	text-decoration: none;
	display: flex;
	align-items: center;
	margin-bottom: 15px;
	@media (max-width: 480px) {
		flex-direction: column;
	}

	@media (min-width: 992px) {
		margin-bottom: 0;

	}

	&__title {
		font-family: 'Sansita One';
		font-size: 30px;
		font-weight: 400;
		color: $color_seccondary;
	}

	&__text {
		margin-left: 10px;
		font-weight: 500;
		font-size: 12px;
		color: #5E5E5E;
		text-transform: uppercase;
		position: relative;
		top: 1px;
		@media (max-width: 480px) {
			margin-left: 0;

		}
	}

}

.icon_marker {}

.icon_clock {}

.icon_phone {}