// begin footer
footer.footer
    .footer__inner
        .footer__logo
            a.foterLogo(href="./")
                span.foterLogo__title МариДекор
                span.foterLogo__text салон штор
        .footer__info
            .footer__address
                i.icon_marker
                span г. Королев, пр-т Космонавтов, 34б, ТЦ Юпитер, 2 этаж, пав. 213
            .footer__time
                i.icon_clock
                span с 8:00 до 20:00
            .footer__phone
                a(href="tel: "+tel+"")
                    i.icon_phone
                    span= tel

// end footer
