header.header
    .header__content
        .header__left
            a.logo(href="/")
                img(src="img/logo.png", alt="alt")
                span.logo__text салон штор
        .header__info
            .header__address !{address}
            .header__time !{time}
        .header__action
            a.btn(href="#")
                i.icon_insta 
                |наш инстаграм
