block variables
    - var pageTitle;
    - var tel = '+7 (967) 028-71-11';



<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")

        link(rel="stylesheet", type="text/css", href="./css/swiper-bundle.css")

        link(rel="stylesheet", type="text/css", href="./css/style.css")

        title=pageTitle

    body(style="background-color: #ffffff;")

        include header.pug
        // begin main
        main.main
            include top.pug
            block content
            include bottom.pug
        // end main

        include footer.pug

        script(src="./js/jquery.js")
        script(src="./js/swiper-bundle.js")

        script(src="./js/modal.js") 
        script(src="./js/script.js")
